<% include /../header %>
    <script type="text/javascript" src="https://cpmoz.herokuapp.com/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('https://cpmoz.herokuapp.com/');

        socket.emit('chat', '<%- id %>');
        socket.on('send-client', function (message) {
            var div = document.getElementById('chat');
            div.innerHTML += 
                " <section class='section'> "
                    + message + 
                " </section> ";
        });
        
        var enviar = function() {
            var message = document.getElementById('message');
            socket.emit('send-server', message.value);
        };
        
    </script>

<article class="div-chat-forum">
    
    <div>
        <a class="title-forum title" title="Ver Mais"> <%- forun.title %> </a>
        <p class="text-forum">
            <%- forun.introdution %>
        </p>
        <a class="al" href="#">Avaliar</a>|<a class="al" href="#">Visulizacoes</a>|<a class="al">Data: <%- forun.data %></a>|<a class="al" >Autor: <%- forun.autor %></a>
        <hr>
    </div>
    <br>
    <h4 class="h4">Respostas</h4>
    <div id="chat">
    </div>
    <br><hr><br>
    <div class="div-textarea-message">
        <h4 class="h4">Sua Resposta</h4>
        <textarea class="message textarea" id="message" name="message"></textarea>
        <button class="publicar" onclick="enviar();">Publicar</button> 
    </div>    
          
</article>
<% include ../footer %>