<% include ../header %>
<script>
    var socket = io.connect('http://localhost:3000');
    socket.on('new-message', function(data) {
        var chat = document.getElementById('chat_5d793acceb94161234e152ab');
        chat.href += '?' + '5d793acceb94161234e152ab';
    });
</script>

<div id="modal" class="window-modal-style">
    <div id="div-close-modal"></div>

    
    <div class="modal-add-forum">
        <div class="addNewForumButtom">
            <h2 class="title-add-forum">Novo Forum</h2>
            <ul class="ul-button">
                <li>
                    <input type="submit" id="submit" class="button-save-forum" value="Confirmar">
                </li>
                <li>
                    <input type="reset" id="reset" class="button-save-forum " value="Cancelar">
                </li>    
            </ul>
        </div>
        <form action="/newForum" method="post" class="form-new-forum" id="form">
            
            <div class="wrap-input100 m-b-26">
                <span class="label">Titulo</span>
                <input id="title" class="input100" type="text" name="title" placeholder="Titulo do Forum">
                <span class="focus-input100"></span>
            </div>
            <div >
                <span class="label"> Introducao</span>
                <textarea id="introdution" class="textarea" type="text" name="introdution"></textarea>
            </div>
        </form>		
    </div>
</div>

    <br>
    <br>
    <aside class="other-forum">
        <br>
        <h5 class="title-other-forum-h3">Outros FoRum</h5>
        
        <form class="form-forum-search" action="/searchForum" method="POST">
            <input class="search-forum-input" type="text" name="searchForum" placeholder="Procurar Forum">
        </form>
        <div>
            <ol class="ol-foruns">
                <% olderForuns.forEach(function(forum){ %>
                    <li>
                        <a class="link-other-forum" href="/openForum/<%- forum._id %>"> <%- forum.title %> </a>
                    </li>
                <% }) %>
                
            </ol>
            
        </div>
    </aside>
    <br>
    <br>
    <article class="forum-content">
        
        <h1>FORUM - Comunidade de Programadores</h1>
        <br>
        <br>
        <% if (session){ %>
        <ul class="ul-uniquie">
            <li>
                <a href="#" class="link-add" title="Forum" id="novoforum"> + Novo Forum</a>
            </li>
        </ul>
        <br>
        <br>
        <% } %>
        <% newForuns.forEach(function(forum){ %>
            
            <div class="forum">
                <a id="chat_<%- forum._id %>" class="title-forum" href="/openForum/<%- forum._id %>" title="Ver Mais"> <%- forum.title %> </a>
                <p class="text-forum">
                    <%- forum.introdution %>     
                </p>
                <a href="#">Avaliar</a>|<a href="#">Visulizacoes</a>|<a> <%- forum.autor %> </a>
            </div>
            <br>
            <br>
        <% }) %>
        
    </article>
<script>
    var tag = document.getElementById("novoforum");
    tag.addEventListener('click', function(){
        var modal = document.getElementById("modal");
        modal.style.display = "block";
        document.getElementById('body').style.overflow = "hidden"; 
    });
    
    tag = document.getElementById("div-close-modal");
    tag.addEventListener('click', function(){
        modal.style.display = "none";
        document.getElementById('body').style.overflow = "scroll";
    });
    tag = document.getElementById("reset");
    tag.addEventListener('click', function(){
        modal.style.display = "none";
        document.getElementById('body').style.overflow = "scroll";
    });
    tag = document.getElementById("submit");
    tag.addEventListener('click', function(){
        modal.style.display = "none";
        document.getElementById('form').submit();
    });
</script>
<% include ../footer %>